@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yellowtail|Yesteryear');

Body {
	
	
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style-type: none;
  text-align: center;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
  padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
  padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
  padding: 20px;
  max-width: 30%;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
  padding: 20px;
  max-width: 70%;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
  padding: 20px;
}

div, section {
	background-color: #FFE2B8;
	border: 1px black solid;
  padding: 20px;
}

.mainImg{
	height: 400px;
	overflow: hidden;
}

#headshot{
	max-width: 100%;
	border-radius: 50%;
}

#slogan {
	color: #964E9B;
	font-size: 400%;
	font-family: 'Yellowtail', cursive;
	padding-top: 450px;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

#hero {
	max-width: 100%;
}


